body{
  font-family: 'Proxima Nova', sans-serif;
  background-color: #222222;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
  color: white;
}

.textColor{
  color:#999999!important;
}

#black{
  background:#00000!important;
}

.top{
  margin-top:5%;
}

#ooh{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.loginButton {
  height: 105%;
  width: 105%;
  font-size: 150%;
}

.playlist {
  color: #888888;
}

.playlist-available {
  font-size: 150%;
}
.playlist-sidebar {
    list-style-type: none;
    padding-left: 0;
}

.playlist:hover {
  color: #fff;
  text-decoration: none;
}

.playlist::before {
  content: '\1f39c';
  padding-right: 1em;
}

.playlist-current {
  border-left: 3px solid #2947e1;
}

.playlist-container {
  padding-top: 20;
}

.loginTitle {
  margin-top: 10%;
  margin-bottom: 5%;
}

ul {
  padding-left: 0;
}

.track{
  width:75px;
}

audio{
  background:#222222;  /*doesnt work */
}

.btn {
  border-radius: 300px !important;
}

.btn-primary {
  background-color: #2947e1;
  border-color: #2947e1;
}

.playerBtnPlay{
  border-radius: 50%;
  background-color: black;
  border:solid 1px black;
  color: white;
}

.playerBtnPause{
  border-radius: 50%;
  background-color: black;
  border:solid 1px black;
  color: white;
}

.player{
  background-color: black;
}

@keyframes spin{100%{transform: rotate(24000deg)}}

.logout{
  font-size: 120%;
}
