body{
  font-family: 'Proxima Nova', sans-serif;
  background-color: #222222;
  color: white;
}

.textColor{
  color:#999999!important;
}

#black{
  background:#00000!important;
}

.top{
  margin-top:5%;
}

#ooh{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.loginButton {
  height: 105%;
  width: 105%;
  font-size: 150%;
}

.loginTitle {
  margin-top: 10%;
  margin-bottom: 5%;
}

.fidget{
  height:140px;
  width: 140px;
  background: url('./images/spotify_rewind_transparent.svg') no-repeat;
  background-position: 22px 30px;
  background-size: 96px 96px;
  animation: spin 60s cubic-bezier(.30,.60,.60,1);
}

@keyframes spin{100%{transform: rotate(24000deg)}}
