body{
  font-family: 'Proxima Nova', sans-serif;
  background-color: #222222;
  color: white;
}

.textColor{
  color:#999999!important;
}

#black{
  background:#00000!important;
}

.top{
  margin-top:5%;
}

#ooh{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.loginButton {
  height: 105%;
  width: 105%;
  font-size: 150%;
}

.loginTitle {
  margin-top: 10%;
  margin-bottom: 5%;
}

.track{
  width:75px;
}

@keyframes spin{100%{transform: rotate(24000deg)}}
